# The node.js environment must coincide with the .json file defined in the /config directory, e.g: development (without quotes).
NODE_ENV=development

# API configuration.
# ENABLE_API_DOCS is used to enable the Swagger UI.
ENABLE_API_DOCS=false
